body {
  overflow: hidden;
}

label {
  margin-left: 20px;
}

input {
  width: 60%;
  margin: 7px 20px;
  height: 22px;
}

input.invalid {
  border: 1px solid var(--secundary-color);
}

textarea {
  width: calc(100% - 40px);
  margin: 7px 20px;
  height: 40px;
}

button#create-project-btn {
  margin-left: 20px;
}