.project-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 2.5fr;
  height: 100px;
  background-color: var(--bg-light);
}

.project-header > div {
  padding: 10px;
}

.project-header > textarea {
  height: 84px;
  margin-top: 5px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

span#project-name-display,
span#project-place-display,
span#project-date-display {
  display: block;
  margin-top: 10px;
}

span#project-name-display {
  color: var(--primary-color);
}

.body-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: calc(100vh - 103px);
  border-top: 3px solid var(--primary-color);
}

.column#materials-col, .column#wages-col {
  border-right: 2px solid var(--primary-color);
}

.column#materials-col > .col-body,
.column#wages-col > .col-body {
  height: calc(100vh - 170px);
}

/* Header of each section */
.col-body > .heading, .column .section-top .heading {
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 16pt;
}

.col-body > table {
  width: 100%;
  border-collapse: collapse;
}

.col-body th {
  background-color: var(--bg-light);
  padding: 10px;
  font-weight: normal;
  text-align: left;
  border: 1px solid #000000;
}

.col-body td {
  padding: 10px;
  border: 1px solid #000000;
}

/* For add-button in wages column */
.column#wages-col > .col-body tr > td:nth-child(3) {
  padding: 0px;
}

.column#wages-col > .col-body tr > td button {
  margin: 5px 25%;
  height: 30px;
  padding: 5px 13px;
}

/* Column footer for materials and wages */
.col-footer {
  border-top: 1px solid black;
}

.col-footer > .costs-display {
  display: block;
  float: right;
  margin: 22px 30px;
  color: var(--secundary-color);
  font-weight: 700;
  font-size: larger;
}

/* Bill column */
.column#bill-col .section-bottom {
  padding-top: 14px;
}

.column#bill-col label {
  margin-left: 30px;
  font-size: 1.2em;
}

.column#bill-col input {
  text-align: right;
}

.column#bill-col div#bilanz-display {
  color: var(--primary-color);
  width: 40%;
  text-align: right;
}