{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "array-callback-return": "warn",
        "array-bracket-newline": "warn",
        "arrow-body-style": "off",
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "block-scoped-var": "error",
        "class-methods-use-this": "warn",
        "comma-dangle": "error",
        "comma-spacing": "error",
        "comma-style": "error",
        "dot-location": ["error", "property"],
        "eol-last": "error",
        "eqeqeq": "error",
        "func-call-spacing": "error",
        "function-call-argument-newline": ["error", "consistent"],
        "global-require": "error",
        "id-length": ["warn", { "min": 2 }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "key-spacing": ["warn", { "mode": "strict" }],
        "keyword-spacing": "error",
        "line-comment-position": ["warn", { "position": "beside" }],
        "max-depth": ["warn", 3],
        "max-len": ["warn", 130],
        "max-lines": ["warn", 400],
        "max-params": ["warn", 3],
        "max-nested-callbacks": ["warn", 2],
        "max-statements-per-line": ["warn", { "max": 1 }],
        "new-cap": "error",
        "new-parens": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-class-assign": "error",
        "no-compare-neg-zero": "error",
        "no-cond-assign": "error",
        "no-eval": "warn",
        "no-extra-bind": "warn",
        "no-extra-boolean-cast": "error",
        "semi": ["error", "always"],
        "@typescript-eslint/array-type": ["error", { "default": "array" }],
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/explicit-module-boundary-types": "warn"
    }
}