{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "array-callback-return": "warn",
        "array-bracket-newline": "warn",
        "arrow-body-style": "off",
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "block-scoped-var": "error",
        "class-methods-use-this": "warn",
        "comma-dangle": "error",
        "comma-spacing": "error",
        "comma-style": "error",
        "dot-location": ["error", "property"],
        "eol-last": "error",
        "eqeqeq": "error",
        "func-call-spacing": "error",
        "function-call-argument-newline": ["error", "consistent"],
        "global-require": "error",
        "id-length": ["warn", { "min": 2, "exceptions": ["$"] }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "key-spacing": ["warn", { "mode": "strict" }],
        "keyword-spacing": "error",
        "line-comment-position": ["warn", { "position": "beside" }],
        "max-depth": ["warn", 3],
        "max-len": ["warn", { "code": 130, "ignoreComments": true }],
        "max-lines": ["warn", 400],
        "max-params": ["warn", 3],
        "max-nested-callbacks": ["warn", 2],
        "max-statements-per-line": ["warn", { "max": 1 }],
        "new-cap": "error",
        "new-parens": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-class-assign": "error",
        "no-compare-neg-zero": "error",
        "no-cond-assign": "error",
        "no-eval": "warn",
        "no-extra-bind": "warn",
        "no-extra-boolean-cast": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-implicit-coercion": "error",
        "no-invalid-this": "error",
        "no-lonely-if": "error",
        "no-multi-assign": "error",
        "no-multiple-empty-lines": "warn",
        "no-new-object": "error",
        "no-new-require": "error",
        "no-param-reassign": "error",
        "no-path-concat": "warn",
        "no-proto": "error",
        "no-prototype-builtins": "error",
        "no-return-assign": "error",
        "no-sequences": "error",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "warn",
        "no-throw-literal": "error",
        "no-trailing-spaces": "warn",
        "no-unreachable": "error",
        "no-var": "error",
        "prefer-const": "warn",
        "prefer-promise-reject-errors": "error",
        "prefer-template": "warn",
        "quotes": ["error", "single"],
        "require-jsdoc": "warn",
        "sort-imports": "warn",
        "valid-jsdoc": "off",
        "yoda": ["warn", "never"],
        "semi": ["error", "always"],
        "@typescript-eslint/array-type": ["error", { "default": "array" }],
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/explicit-module-boundary-types": "warn"
    }
}